@import '../../../../../variable';
.col90{
  width: 90%;
  float: left;
  text-align: right;
  padding: 10px 0;
}
.col10{
  width: 10%;
  float: left;
}
.add-comment {
  padding: 10px 0;
  text-alig: right;
  .text-comm {
    width: 100%;
    min-height: 50px;
    border: 1px solid #E5E5E5;
    color: #777777;
    font-size: 12px;
    padding: 12px;
    outline: none;
    border-radius: 2px;
    text-align: left;
    ::ng-deep img{
      width: 35px !important;
      height: auto;
    }
  }
  .add-comm, .close-input {
    outline: none;
    font-size: 12px;
    height: 30px;
    box-shadow: none;
    border: none;
    margin: auto;
    color: #3F4752;
    border: 1px solid #E0E0E0;
    background: linear-gradient(#FFFFFF, #F5F5F5) #FCFCFC;
  }
  .add-comm:hover, .close-input:hover {
    background: $color-green;
    color: #fff;
  }
  .smiles{
    text-align: left;
    padding: 10px 0;
    ul{
        padding: 0;
        margin-bottom: 8px;
        li{
            list-style: none;
            display: inline-block;
            i{
                color: #95c800;
                font-size: 24px;
                cursor: pointer;
                transition: all 1s ease 0s;
            }
            i:hover{
                color: rgba(3, 170, 173, 0.8);
                transition: all 1s ease 0s;
            }
        }
    }
}
}

.row {
  position: relative;
}

.focus.add-comment {
  .text-comm {
    border-color: #66afe9;
  }
  // .add-comm{
  //     display: block;
  // }
  .add-comm, .close-input {
    display: inline-block;
  }
}
.show-all{
  display: inline-block;
  margin: auto;
  cursor: pointer;
  color: #1b6d85;
}
.author-comment {
  padding-left: 36px;
  padding-bottom: 10px;
  .borders {
    border-top: 1px solid rgba(0, 39, 59, 0.08);
    padding: 6px 0;
    border-bottom: 2px solid rgba(0, 39, 59, 0.08);
  }
  .author-img {
    img {
      width: 50px;
    }
  }
  .author {
    a {
      text-decoration: none;
      color: $color-green;
      transition: 0.3s;
      font-size: 12px;
    }
    a:hover {
      color: #333;
      transition: 0.3s;
    }
    .comment-text {
      display: block;
      font-size: 12px;
    }

  }
  .date {
    text-align: center;
    .date-comm {
      font-size: 12px;
      color: rgb(153, 153, 153);
    }
  }
  .replay {
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: 14px;
    color: #565353;
    cursor: pointer;
    display: inline;
    color: #1b6d85;
  }
  .delete-comm {
    text-align: right;
    .delete {
      color: $color-red;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
@media only screen and (max-width: 767px) {
  .author-comment{
      padding-left: 15px;
      padding-bottom: 0;
  }
}