@import '../../../../../variable';
    .add-comment{
        padding: 10px 0;
        text-align: right;
        .text-comm{
            width: 100%;
            height: 50px;
            border: 1px solid #E5E5E5;
            color: #777777;
            font-size: 12px;
            padding: 12px;
            outline: none;
            border-radius: 2px;
        }
        .add-comm{
            outline: none;
            font-size: 12px;
            height: 30px;
            width: 58px;
            box-shadow: none;
            border: none;
            margin: auto;
            color: #3F4752;
            border: 1px solid #E0E0E0;
            background: linear-gradient(#FFFFFF, #F5F5F5) #FCFCFC;
            display: none;
        }
        .add-comm:hover{
            background: $color-green;
            color: #fff;
        }
    }
    .focus.add-comment{
        .text-comm{
            border-color: #66afe9; 
        }   
        .add-comm{
            display: block;
        }            
    }
.author-comment{
    padding-left: 66px;
    padding-bottom: 10px;
    .borders{
        border-top: 1px solid rgba(0, 39, 59, 0.08);
        padding: 6px 0;
        border-bottom: 2px solid rgba(0, 39, 59, 0.08);
    }
    .author-img{
        img{
            width: 50px;
        }
    }
    .author{
        a{
            text-decoration: none;
            color: $color-green;
            transition: 0.3s;
            font-size: 12px;
        }
        a:hover{
            color: #333;
            transition: 0.3s;
        }
        .comment-text{
            display: block;
            font-size: 12px;
        }
    }
    .date{
        text-align: center;
        .date-comm{
            font-size: 12px;
            color: rgb(153, 153, 153);
        }
    }
    .delete-comm{
        text-align: right;
        .delete{
            color: $color-red;
            font-size: 20px;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 700px) {
    .author-comment{
        padding-left: 0;
        padding-bottom: 0;
        .author-img{
            width: 20%;
        }
        .author{
            width: 40%;
        }
        .date{
            width: 30%;
        }
        .delete-comm{
            width: 10%;
        }

    }


  
}

@media only screen and (max-width: 375px) {
    .author-comment{
        padding-left: 0;
        padding-bottom: 0;
        .author-img{
            width: 20%;
        }
        .author{
            width: 40%;
            .comment-text{
                display: block;
                font-size: 12px;
                height: 40px;
                width: 125px;
                overflow: hidden;
            }
        }
        .date{
            width: 30%;
        }
        .delete-comm{
            width: 10%;
        }

    }


  
}
