<div class="col-md-12 author-comment">
  <div *ngFor="let comment of post.comments" class="borders">
    <div class="row">
      <div class="author-img col-md-1">
          <img src="{{comment.user.user_photo || './assets/imgs/no_ava_50.png'}}" alt="no_ava_50.png">
      </div>
      <div class="col-md-3 author">
        <a href="">{{comment.user?.user_name + ' ' + comment.user?.user_last_name}}</a>
        <span class="comment-text">{{comment.comment_content}}</span>
      </div>
      <div class="col-md-4 date">
        <span class="date-comm">{{comment.comment_created_date}}</span>
      </div>
      <div class="col-md-4 delete-comm">
        <i (click)="deleteComment(comment.id)" class="delete fa fa-trash" aria-hidden="true"></i>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <form [formGroup]="formgroupComment" action="" method="post">
  <div class="add-comment"  [ngClass]="activeClass">
    <textarea formControlName="user_comment" (focus)="focusFunction()" (focusout)="focusOutFunction()" class="text-comm" placeholder="Add a comment"></textarea>
    <button (click)="postComment()" type="submit" class="add-comm btn btn-success">{{'wall.send' | translate}}</button>
  </div>
  </form>
</div>
