<div *ngIf="post.posttype !== 'googlenews'" class="col-md-12 author-comment">

  <div *ngFor="let comment of post.comments" class="borders">
    <app-comment [comment]="comment" [post]="post" (onDelete)="filterComments($event)" ></app-comment>
  </div>
  <span *ngIf="post.post_comment_count > 4" class="show-all" (click)="getAllComments(post.id)">{{'comment.showAllComments' | translate}} {{post.post_comment_count}}</span>
  <div class="commSmile" [ngClass]="smileClass">
      <form [formGroup]="formgroupComment" action="" method="post">
          <div class="add-comment" [ngClass]="activeClass">
            <div contenteditable="true" propValueAccessor="innerHTML" formControlName="user_comment" 
            [(ngModel)]="user_comment" (click)="keyPress($event)" (focus)="focusFunction()" (focusout)="focusOutFunction()"
              class="text-comm">
          </div>
              <div class="smiles col10">
                  <ul>
                      <li (click)="openSmiles();"><i class="fa fa-smile-o"></i></li>
                  </ul>
                  <app-wall-smiles [opened]="smileOpen" (smile)="addSmile($event)"></app-wall-smiles>
              </div>
            <div class="btn-send col90">
                <button (click)="postComment()" type="submit" class="add-comm btn btn-success">{{'comment.sendCom' | translate}}
                  </button>
            </div>
          </div>
        </form>
  </div>
</div>
