@import '../../../variable';
.clearfix{clear: both;}
ul{
  padding: 0;
}
li{
  list-style: none;
}
img{max-width: 100%;}
::ng-deep .cdk-overlay-container{
  left: -20px;
  top: 45px;
}
::ng-deep .ng-star-inserted{
  .menu-btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-top: 7px;
    margin-left: 20px;
    outline: none;
    position: fixed;
    cursor: pointer;
    color: $color-green;
    border: none;
    transition: 0.3s;
  }
  .menu-btn:hover{
    background: $color-green;
    color: #fff;
    transition: 0.3s;
  }
  button.mat-menu-item{
    width: 260px;
    padding-left: 6px;
    color: $color-blue;
    outline: none;
    .mat-icon{
      color: $color-blue;
    }
  }
  button.mat-menu-item:hover{
    background: rgb(5, 23, 43);
  }
}
::ng-deep .mat-menu-panel{
  background: rgb(7, 40, 65);
}
.user-avatar-menu{
  padding-bottom: 20px;
  .user-img{
    width: 110px;
    margin: auto;
    padding-top: 20px;
    img{
      width: 110px;
      height: 110px;
      border-radius: 100%;
      border: 2px solid #03AAAC;
    }
  }
  .user-name{
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    display: block;
    padding: 10px 0;
  }
  a:hover{
    text-decoration: none;
    transition: 0.3s;
    color: $color-blue;
  }
  .exit{
    display: block;
    margin: auto;
    width: 100px;
    border: 2px solid #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    color: #FFFFFF;
    background: none;
  }
}
.create-group{
  background: $color-blue;
  margin-top: 30px;
  span{
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 15px;
    display: block;
    transition: 0.3s;
  }
  .unsubs{
    margin-top: 10px;
  }
  span:hover{
    color: $color-green;
    background: rgba(0, 0, 0, 0.35);
    transition: 0.3s;
  }
}
.subscribe{
  margin-top: 8px;
}
.groups{
  padding: 20px;
  background: #fff;
  margin: 20px 0;
  h2 {
    color: $color-blue;
    font-size: 26px;
    text-align: center;
  }

}

