<div class="user-avatar">
  <div class="user-img">
    <div class="img">
      <img  src="{{ user?.user_photo || './assets/imgs/no_avatar.png'}}">
    </div>
    <ul class="animated fadeInUp">
      <li (click)="openDialogUpload()"><i class="fa fa-upload"></i>{{'profile.uplNewPhoto' | translate}}</li>
      <li (click)="openDialogCrop()"><i class="fa fa-arrows-v"></i>{{'profile.changeThumb' | translate}}</li>
      <li><i class="fa fa-times"></i>{{'profile.delete' | translate}}</li>
    </ul>
    <span class="hover-display">{{ user.user_name + " " + user.user_last_name }}</span>
  </div>
</div>
