@import '../../../variable';

.clearfix {
  clear: both;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
img{
  max-width: 100%;
  vertical-align: middle;
}

.user-avatar {
  position: relative;
  top: 30px;
  .user-img {
    position: relative;
    overflow: hidden;
    ul {
      position: absolute;
      list-style: none;
      bottom: 0;
      padding: 4px 6px;
      width: 100%;
      margin: 0;
      background: rgba(0, 0, 0, 0.71);
      color: #fff;
      display: none;
      li {
        cursor: pointer;
      }
      i {
        margin-right: 6px;
        color: #fff;
      }
      .fa-arrows-v {
        margin-right: 10px;
        margin-left: 4px;
      }
      .fa-times {
        margin-left: 1px;
        margin-right: 8px;
      }
      li:hover {
        background: $color-green;
      }
    }
    .hover-display {
      position: absolute;
      background: rgba(0, 0, 0, 0.71);
      display: block;
      bottom: 0px;
      width: 100%;
      padding: 8px 15px;
      font-size: 24px;
      font-weight: 300;
      color: #ffffff;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      text-align: center;
      line-height: 28px;
    }
  }
  .user-img:hover {
    .hover-display {
      display: none;
    }
    .fadeInUp {
      display: block;
      animation-duration: 0.8s;
    }

  }
  .img {
    img {
      max-width: 100%;
      border-radius: 3px;
    }
  }
  .profile-status {
    background: rgba(3, 170, 173, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    font-size: 11px;
    text-align: center;
    .status-text {
      margin-left: 3px;
      margin-top: 8px;
    }
    .new-status {
      display: none;
      .form-control {
        font-size: 14px;
      }
      .save {
        margin-top: 4px;
        background-color: #5cb85c;
        border-color: #4cae4c;
        font-size: 14px;
      }
      .save:hover {
        background-color: #449d44;
        border-color: #398439;
      }
    }
  }
  .center {
    background: rgba(3, 170, 173, 0.2);
    margin-bottom: 5px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding: 5px;
  }
}

@media only screen and (max-width: 1200px) {
  .user-avatar{
    .user-img{
      .hover-display{
        font-size: 20px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .user-avatar{
    .user-img{
      .hover-display{
        font-size: 18px;
        padding: 8px 6px;
      }
      ul{
        li{
          font-size: 12px;
          padding: 2px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .img{
    text-align: center;
  }
  .user-avatar {
    text-align: center;
    .user-img{
      display: inline-block;
      ul{
        text-align: left;
      }
    }
  }
      




}

@media only screen and (max-width: 375px) {
  .img{
    text-align: center;
  }
  .user-avatar {
    text-align: center;
    .user-img{
      display: inline-block;
      ul{
        text-align: left;
      }
    }
  }
      




}
