<div class="home-tab tabs-a">
  <div class="row" *ngIf="user">
      <div class="col-md-8 t-info">
        <div class="information col-md-12">
          <p class="title">{{'information.info' | translate}}</p>
          <div class="row">
            <div class="col-md-6 user-title-info">
              <p>{{'information.country' | translate}}:</p>
              <p>{{'information.city' | translate}}:</p>
              <p>{{'information.dob' | translate}}:</p>
              <p>{{'information.rating' | translate}}:</p>
            </div>
            <div class="col-md-6 user-info">
              <div class="user-country">
                <span>{{ user.user_country }}</span>
              </div>
              <div class="user-city">
                <span>{{ user.user_city }}</span>
              </div>
              <div class="user-birthday">
                <span>{{ user.user_date_of_birth }}</span>
              </div>
              <div class="user-info-rat">
                <span class="rating">10</span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    <div class="col-md-12">
      <div class="row">
        <div (click)="show1Toggle()" class="show-details col-md-12">
          <span *ngIf= "!detailsToggle">{{'information.show-details' | translate}}</span>
          <span *ngIf= "detailsToggle">{{'information.close-details' | translate}}</span>
        </div>
        <ng-template [ngIf]= "detailsToggle">
          <div class="hidden-block col-md-8">
            <div class="content-details borders">
              <p class="contact edits">{{'information.contact' | translate}}</p>
              <ul class="contact-info">
                <li>{{'information.mobile' | translate}}:<span>{{ user.user_contact.user_mobile }}</span></li>
                <li>{{'information.twitter' | translate}}:<span>{{ user.user_contact.user_twitter}}</span></li>
                <li>{{'information.facebook' | translate}}:<span>{{ user.user_contact.user_facebook}}</span></li>
                <li>{{'information.skype' | translate}}:<span>{{ user.user_contact.user_skype}}</span></li>
                <li>{{'information.website' | translate}}:<span>{{ user.user_contact.user_website}}</span></li>
              </ul>
            </div>
            <div *ngIf="!personalEditing" class="personal borders">
              <p class="personal-info edits">{{'information.personal-info' | translate}}</p>
              <p class="pers-inf">{{'information.activities' | translate}}:<span>{{ user.user_interests.activities }}</span></p>
              <p class="pers-inf">{{'information.interests' | translate}}:<span>{{ user.user_interests.interests }}</span></p>
              <p class="pers-inf">{{'information.fav-munshids' | translate}}:<span>{{ user.user_interests.favorite_munshids }}</span></p>
              <p class="pers-inf">{{'information.fav-preachers' | translate}}:<span>{{ user.user_interests.favorite_preachers }}</span></p>
              <p class="pers-inf">{{'information.books' | translate}}:<span>{{ user.user_interests.favorite_books }}</span></p>
              <p class="pers-inf">{{'information.sports' | translate}}:<span>{{ user.user_interests.favorite_sports }}</span></p>
              <p class="pers-inf">{{'information.quotes' | translate}}:<span>{{ user.user_interests.favorite_books }}</span></p>
              <p class="pers-inf">{{'information.about-me' | translate}}:<span>{{ user.user_interests.about_me }}</span></p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
