<div class="music-album tabs-a">
  <div class="row" *ngIf="audios.length < 1">
    <div class="col-md-2 music-alb">
      <img src="./assets/imgs/music.png" alt="music.png">
    </div>
    <div class="col-md-10 upload">
      <p>{{'downAudio' | translate}}</p>
    </div>
    <div class="clearfix"></div>
    </div>
      <div class="col-md-12">
        <div class="row">
          <app-audio class="full col-md-12" *ngFor="let audio of audios" [audio]="audio"></app-audio>
        </div>
      </div>
</div>