<div class="map-block">
    <div class="map-header">
      <nav mat-tab-nav-bar>
        <a  mat-tab-link
           routerLink=""
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <i class="fa fa-globe"></i>
        </a>
        <a mat-tab-link
           routerLink="info"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <i class="fa fa-home"></i>
        </a>
        <a mat-tab-link
           routerLink="albums"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <i class="fa fa-picture-o"></i>
        </a>
        <a mat-tab-link
           routerLink="audios"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <i class="fa fa-music"></i>
        </a>
        <a mat-tab-link
           routerLink="videos"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <i class="fa fa-film"></i>
        </a>
        <a mat-tab-link
           routerLink="news"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <i class="fa fa-newspaper-o"></i>
        </a>
      </nav>
  </div>
  <router-outlet></router-outlet>
</div>
