@import '../../../variable';
::ng-deep .mat-menu-panel{
    border: none;
}
::ng-deep .mat-menu-content:not(:empty){
    padding: 0 !important;
}
.notification{
    background: #fff;
    h4{
        text-align: center;
        color: #038e95;
        font-size: 18px;
        padding: 6px 0;
     }
     .read-0 {
        background: #ebf7ff;
     }
     .notify-count{
        padding: 1px 0;
         p{
             font-size: 14px;
             padding: 10px;
             margin-bottom: 0;
             a{
                 color: $color-blue;
             }
         }
         img{
             width: 50px;
             border-radius: 100%;
             margin: 4px 6px;
         }
         .notify-img{
             width: 25%;
             float: left;
         }
     } 
}

.menu-block{
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    .menu{
        text-align: left;
        padding-top: 4px;
        position: fixed;
        top: calc(100vh - 48px);
        background: #097475;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 999;
        ul{
            padding: 0;
            margin: 0;
            width: calc(100vw - 50px);
            li{
                display: inline-block;
                padding: 8px 12px;
                button{
                 background: none;
                 padding: 0;
                 border-radius: 4px;
                 font-size: 16px;
                 width: 40px;
                 color: #fff;
                 transition: 0.4s;
                 cursor: pointer;
                 border: 2px solid #fff;
                }
                button:hover{
                    background: #fff;
                    transition: 0.4s;
                    i{
                        color: #000;
                    }
                }
            }
            .notification{
                position: absolute;
                position: absolute;
                top: -8px;
                left: 64px;
                .notify{
                    color: #d40a0a;
                    font-size: 20px;
                }
            }
            .relative-length{
                position: relative;
                z-index: 9999;
            }
            .notify-length{
                color: red;
                top: 12px;
                left: 0;
                z-index: 9999;
                font-size: 12px;
                position: absolute;
                right: 0;
                margin: auto;
            }
        }
     }
     .top{
            position: fixed;
            bottom: 90px;
            right: 25px;
            cursor: pointer;
            background: url(/assets/imgs/baseline.png) no-repeat;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            color: #fff;
            outline: none;
            border: 2px solid #95c800;
            background-color: #95c800;
            z-index: 9999;
        }
        // .top:hover{
        //     opacity: 0.8;
        // }
 }
 @media only screen and (max-width: 700px) {
    .menu-block{
        padding-top: 0;
    }
    ::ng-deep .cdk-overlay-container{
        z-index: 99999;
    }
}
    @media only screen and (max-width: 414px) {
        .menu-block{
        .menu{
            ul{
                li{
                    padding: 8px;
                }
            }
        }
        }
    }
@media only screen and (max-width: 443px) {
    .menu-block{
        .menu{
            ul{
                width: calc(100vw - 42px);
                li{
                    padding: 8px;
                }
            }
        }
    }

}
@media only screen and (max-width: 387px) {
    .menu-block{
        .menu{
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            margin: auto;
            ul{
                li{
                    padding: 0 6px;
                }
            }
        }
    }

}
@media only screen and (max-width: 414px) {
    .menu-block{
    .menu{
        ul{
            li{
                padding: 8px;
            }
        }
    }
    }
}
@media only screen and (max-width: 347px) {
    .menu-block{
        .menu{
            ul{
                width: calc(100vw - 35px);
            }
        }
    }

}

