 <div class="menu-block col-md-12">
  <div class="menu row">
    <ul>
      <li *ngIf="friendRequests?.length > 0" class="relative-length"><span class="notify-length">{{ friendRequests?.length }}</span></li>
      <li *ngIf="friendRequests?.length > 0" class="notification"><i class="notify fa fa-bell" aria-hidden="true"></i></li>
      <li routerLink="/profile"><button><i class="fa fa-home"></i></button></li>
      <li class="relative-length">
        <button class="not-btn" [matMenuTriggerFor]="menu"><i class="notify fa fa-bell" aria-hidden="true"></i>
          <span *ngIf="notificationlength > 0"  class="notify-length">{{ notificationlength }}</span></button>
      </li>
      <li routerLink="/friends"><button><i class="fa fa-users"></i></button></li>
      <li (click)="openDialogSearch()"><button><i class="fa fa-search"></i></button></li>
      <li routerLink="/settings"><button><i class="fa fa-cog"></i></button></li>
      <li><button (click)="logOut()"><i class="fa fa-sign-out"></i></button></li>
    </ul>
  <div class="clearfix"></div>
</div>
</div>
<mat-menu class="notify-block" #menu="matMenu">
  <div class="notification">
    <div (click)="readReq(notify.id)" *ngFor="let notify of notRequests" class="notify-count {{ notify.id }}">
    <div routerLink="/friends" *ngIf="notify.user"  class="notify-img" >
      <img *ngIf="notify.user && notify.type == 'invitation_add_friend'"
      [src]="notify.user.user_photo || './assets/imgs/no_ava_50.png'" alt="no_ava_50">
    </div>
     <div class="notify-content">
      <p [ngClass]="'read-' + notify.read_status" *ngIf="notify.user && notify.type == 'invitation_add_friend'">
        <a routerLink="/user-profile/{{notify.user.username}}">{{ notify.user.user_name + ' ' + notify.user.user_last_name}}</a>
        {{'header.reqFriend' | translate}}</p>
     </div>
      <p *ngIf="notify.user && notify.type == 'invitation_from_group'">
        {{ notify.user.user_name + ' '+ notify.user.user_last_name }} {{'header.reqGroup' | translate}}
        <a routerLink="/group/{{notify.post_id}}">{{notify.post_content}}</a>
      </p>
    </div>
  </div>
</mat-menu>