@import '../../../variable';
.menu-block{
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    .menu{
        text-align: left;
        padding-top: 4px;
        position: fixed;
        bottom: 0;
        background: #023031;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 99999;
        height: 50px;
        ul{
            padding: 0;
            position: relative;
            margin: 0;
            width: calc(100vw - 50px);
            li{
                display: inline-block;
                padding: 0 12px;
                button{
                 background: none;
                 padding: 0;
                 border-radius: 4px;
                 font-size: 16px;
                 width: 40px;
                 color: #fff;
                 transition: 0.4s;
                 cursor: pointer;
                 border: 2px solid #fff;
                }
                button:hover{
                    background: #fff;
                    transition: 0.4s;
                    i{
                        color: #000;
                    }
                }
                mat-form-field{
                    ::ng-deep .mat-select-value{
                        display: none;
                        font-size: 0;
                    }
                    ::ng-deep .mat-select-arrow-wrapper{
                        display: none;
                    }
                    ::ng-deep .mat-form-field-infix{
                        padding: 0;
                    }
                }
                

            }
            .notification{
                position: absolute;
                top: 6px;
                .notify{
                    color: #d40a0a;
                    font-size: 20px;
                }
            }
            .relative-length{
                position: relative;
            }
            .notify-length{
                color: #fff;
                position: absolute;
                bottom: 14px;
                left: 10px;
                z-index: 9999;
                font-size: 12px;
            }
        }
        .En{
            background: url("/assets/imgs/gb.svg") no-repeat;
            width: 40px;
            max-width: 100%;
            background-size: 100%;
        }
        .Ru{
            background: url('/assets/imgs/ru.svg') no-repeat;
            width: 40px;
            height: 30px;
            max-width: 100%;
            background-size: 100%;
        }
        .mat-form-field{
            text-align: center;
            right: 0;
            position: absolute;
            width: 70px;
            bottom: -15px;
            ::ng-deep .mat-select-value{
                font-size: 0;
            }
        }
        ::ng-deep .cdk-overlay-pane {
            margin-bottom: 80px !important;
        }
     }
 }
 @media only screen and (max-width: 700px) {
    .menu-block{
        padding-top: 0;
    }
    ::ng-deep .cdk-overlay-container{
        z-index: 99999;
    }
}
    @media only screen and (max-width: 414px) {
        .menu-block{
        .menu{
            ul{
                li{
                    padding: 0 4px;
                }
            }
        }
        }
    } 
@media only screen and (max-width: 443px) {
    .menu-block{
        .menu{
            ul{
                width: calc(100vw - 42px);
                li{
                    padding: 0 8px;
                }
            }
        }
    }
     
}
@media only screen and (max-width: 387px) {
    .menu-block{
        .menu{
            position: fixed;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 99999;
            ul{
                li{
                    padding: 0 6px;
                }
            }
        }
    }
     
}
@media only screen and (max-width: 347px) {
    .menu-block{
        .menu{
            ul{
                width: calc(100vw - 35px);
                li{
                    padding: 0 2px;
                }
            }
        }
    }
     
}

