@import '../../../variable';
.create-form{
  p{
    color: $color-blue;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  ::ng-deep .mat-form-field-label{
    color: $color-blue;
    font-size: 14px;
  }
}
.create-btn{
  text-align: right;
  padding-top: 10px;
  .done{
      background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      color: #3F4752;
      font-size: 11px;
      padding: 4px 15px;
  }
  .done:hover{
      background: $color-green;
  }
  .cancel{
      background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      color: #3F4752;
      font-size: 11px;
      padding: 4px 15px;
  }
  .cancel:hover{
      background: linear-gradient(#FFFFFF, #E9E9E9);
  }
  .mat-dialog-container{
      height: auto;
  }
}