@import '../../../../variable';
.clearfix{clear: both;}
.tabs-a {
  background: $color-white;
  padding: 15px;
  .t-info {
    padding-bottom: 6px;
    .information {
      .title {
        border-bottom: 1px dashed #e5e5e5;
        background: url("/assets/imgs/pencil.png") center right no-repeat;
        background-size: 20px;
        color: #666666;
        cursor: pointer;
      }
      p {
        font-size: 15px;
        margin: 5px 0;
      }
    }
    .user-info {
      div {
        padding-bottom: 4px;
      }
      span {
        color: $color-green;
        transition: 0.3s;
        cursor: pointer;
        font-size: 14px;
      }
      span:hover {
        color: #333;
        transition: 0.3s;
      }
      .rating {
        color: $color-white;
      }
      .user-info-rat {
        background: $color-green;
        width: 100px;
        text-align: center;
        .rating:hover {
          color: $color-white;
        }
      }
    }
  }
  .gift {
    .g-info {
      border-bottom: 1px dashed #e5e5e5;
      color: #666666;
    }
    .user-n {
      font-size: 14px;
      color: #777777;
    }
  }
  .show-details {
    text-align: center;
    margin-bottom: 15px;
    padding: 10px 0;
    color: #536069;
    font-size: 15px;
    cursor: pointer;
    width: 100%;
  }
  .show-details:hover {
    background: #f1f5f8;
  }
  .hidden-block {
    padding: 0 15px;
    .borders {
      a {
        text-decoration: none;
        color: #666666;
      }
      .edits {
        background: url("/assets/imgs/pencil.png") center right no-repeat;
        border-bottom: 1px dashed #666666;
        background-size: 20px;
        padding-bottom: 6px;
        width: 500px;
        max-width: 100%;
        text-decoration: none;
        font-size: 15px;
      }
      p {
        color: #666666;
        font-size: 15px;
        margin-bottom: 10px;
        span {
          padding-left: 10px;
          color: #000;
        }
      }
    }
  }
  .img-alb {
    img {
      width: 130px;
    }
  }
  .music-alb {
    img {
      width: 130px;
    }
  }
  .video-alb {
    img {
      width: 130px;
    }
  }
  .upload {
    text-align: center;
    padding-top: 30px;
    p {
      font-size: 14px;
      color: #777777;
      margin-bottom: 0;
    }
    span {
      color: $color-green;
      font-size: 13px;
      transition: 0.3s;
      cursor: pointer;
    }
    span:hover {
      color: #333;
      transition: 0.3s;
    }
  }
}

.video-wrap {
  width: 255px;
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  height: 160px;
  overflow: hidden;
  position: relative;
  .delete {
    position: absolute;
    color: #c9302c;
    cursor: pointer;
    right: -36px;
    top: 6px;
    z-index: 999;
    font-size: 24px;
    background: aliceblue;
    padding: 4px;
    border-radius: 3px;
  }
}

.video-wrap:hover {
  .delete {
    right: 16px !important;
  }
}

@media only screen and (max-width: 1200px) {
    .video-wrap{
      width: 50%;
    }
}

@media only screen and (max-width: 480px) {
  .video-wrap{
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
}
