<div class="container">
  <div class="row">
    <div class="col-md-2 logo-block">
      <img routerLink="/login" src="./assets/imgs/GlobFull_logo1.png" alt="GlobFull_logo1">
    </div>
    <div class="col-md-10 content-policy">
      <h3>Privacy Policy</h3>
      <div class="policy-title">
        <h4>Sharing Your Content and Information</h4>
        <h5>You own all of the content and information you post, and you can control
          how it is shared through your privacy and application settings. In addition:</h5>
        <p><span>1.</span> If you choose to create an account, you must provide us with some personal information, such as your name,
          username, password, email address, or phone number.You may use your contact information,
          such as your email address or phone number,to customize your account or enable certain account features.</p>
        <p><span>2.</span> When you publish content or information using public settings, it means that you are allowing everyone
          to access and use that information, and to associate it with you (i.e., your name and profile).</p>
        <p><span>3.</span>Irrespective of which country you live in, you authorize us to transfer, store, and use your
          information in any country where we operate. In some of these countries, the privacy and data protection
          laws and rules regarding when government authorities may access data may vary from those in the country where you live.</p>
        <h4>Safety</h4>
        <h5>We need your help to keep our site safe, which includes the following these agreements:</h5>
        <p><span>3.1.</span> You will not post unauthorized commercial communications (such as spam).</p>
        <p><span>3.2.</span> You will not collect users' content or information, or otherwise access it, using automated
          means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</p>
        <p><span>3.3.</span> You will not upload viruses or other malicious code.</p>
        <p><span>3.4.</span> You will not solicit login information or access an account belonging to someone else.</p>
        <p><span>3.5.</span> You will not bully, intimidate, or harass any user.</p>
        <p><span>3.6.</span> You will not post content that: is hate speech, threatening, or pornographic; incites violence;
          or contains nudity or graphic or gratuitous violence.</p>
        <p><span>3.7.</span> You will not develop or operate a third-party application containing alcohol-related,
          dating or other mature content (including advertisements) without appropriate age-based restrictions.</p>
        <p><span>3.8.</span> You will not use our site to do anything unlawful, misleading, malicious, or discriminatory.</p>
        <p><span>3.9.</span> You will not facilitate or encourage any violations of this Statement or our policies.</p>
        <h4>Registration and Account Security</h4>
        <h5>Users provide information to us, and we need your help to keep it secure by following the following agreements:</h5>
        <p><span>3.10.</span> You will not provide any false personal information or create an account for anyone other than yourself without permission.</p>
        <p><span>3.11.</span> You will not share your password (or in the case of developers, your secret key), let anyone
          else access your account, or do anything else that might jeopardize the security of your account.</p>
        <p><span>3.12.</span> You will not transfer your account to anyone without first getting our written permission.</p>
        <p><span>3.13.</span> If you select a username or similar identifier for your account, we reserve the right to remove or reclaim it if we believe it is appropriate
          (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</p>
        <h4>Protecting Other People's Rights</h4>
        <h5>We respect other people's rights,and expect you to do the same.</h5>
        <p><span>3.14.</span> You will not post content or take any action that infringes or violates someone else's rights or otherwise violates the law.</p>
        <p><span>3.15.</span> We can remove any content or information you post if we believe that it violates this Statement or our policies.</p>
        <p><span>3.16.</span> If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</p>
        <p><span>3.17.</span> You will not use our copyrights or Trademarks or any confusingly similar marks1</p>
        <p><span>3.18.</span> If you collect information from users, you will: obtain their consent, and make it clear you are the one collecting their information.</p>
        <p><span>3.19.</span> You will not post anyone's identification documents or financial information.</p>
        <p><span>3.20.</span> You will not tag users or send email invitations to non-users without their consent.</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
