@import '../../../variable';
.clearfix{clear: both;}

.logo-block{
  margin-top: 20px;
}
.content-policy{
  margin-top: 20px;
  background: #fff;
  text-align: center;
  padding: 15px;
  h3{
    color: rgba(8, 107, 109, 0.8);
    margin-bottom: 20px;
  }
  .policy-title{
    text-align: left;
    h4, h5{
      color: rgba(8, 117, 119, 0.8);
    }
    span{
      color: rgba(8, 117, 119, 0.8);
      text-decoration: underline;
    }
  }
}
@media only screen and (max-width: 768px){
  .logo-block{
    text-align: center;
  }

}


