@import '../../../../../variable';

.row {
  position: relative;
}

.style-snackbar{
  z-index: 99999;
}

.add-comment {
  padding: 10px 0;
  text-align: right;
  .text-comm {
    width: 100%;
    height: 50px;
    border: 1px solid #E5E5E5;
    color: #777777;
    font-size: 12px;
    padding: 12px;
    outline: none;
    border-radius: 2px;
  }
  .add-comm, .close-input {
    outline: none;
    font-size: 12px;
    height: 30px;
    box-shadow: none;
    border: none;
    margin: auto;
    color: #3F4752;
    border: 1px solid #E0E0E0;
    background: linear-gradient(#FFFFFF, #F5F5F5) #FCFCFC;
  }
  .add-comm:hover, .close-input:hover {
    background: $color-green;
    color: #fff;
  }
}

.borders {
  border-top: 1px solid rgba(0, 39, 59, 0.08);
  padding: 6px 0;
  border-bottom: 2px solid rgba(0, 39, 59, 0.08);
}

.author-img {
  padding: 0;
  float: left;
  img {
    width: 50px;
  }
}

.author {
  float: left;
  margin-left: 8px;
  a {
    text-decoration: none;
    color: $color-green;
    transition: 0.3s;
    font-size: 12px;
  }
  a:hover {
    color: #333;
    transition: 0.3s;
  }
}
.comment-text {
  display: block;
  width: calc(100% - 60px);
  margin: -26px 0 0 58px;
  .comentContent{
    font-size: 14px;
    font-weight: 400;
  }
  ::ng-deep img{
    width: 35px !important;
    height: auto;
  }
}
.date {
  text-align: center;
  position: absolute;
  top: -20px;
  width: 100px;
  left: calc(50% - 50px);

  .date-comm {
    font-size: 12px;
    color: rgb(153, 153, 153);
    margin-top: -20px;
    background: white;
    display: inline-block;
  }
}

.replay-comment{
  width: 100%;
  padding: 5px 20px 5px 54px;
}

.replay {
  position: absolute;
  right: 10px;
  top: 0px;
  margin: 0;
  font-size: 18px;
  color: #565353;
  cursor: pointer;
  display: inline;
  color: #1b6d85;
}

.extend {
  position: absolute;
  right: 10px;
  top: 30px;
  margin: 0;
  font-size: 18px;
  color: #565353;
  cursor: pointer;
  display: inline;
  color: #1b6d85;
}

.add-comment{
  padding-left: 54px;
}


  .delete {
    color: $color-red;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
  }


// @media only screen and (max-width: 767px) {
//       .author-img{
//           width: 10%;
//       }
//       .author{
//           width: 50%;
//       }
//       .date{
//           width: 30%;
//       }
//       .delete-comm{
//           width: 10%;
//           padding-left: 0;
//       }
// }
// @media only screen and (max-width: 480px){
//       .author-img{
//         width: 10%;
//     }
//     .author{
//         width: 40%;
//     }
//     .date{
//         width: 30%;
//     }
//     .delete-comm{
//         width: 10%;
//         padding-left: 0;
//     } 
//     .comment-text{
//       width: 10%;
//     }
// }
// @media only screen and (max-width: 375px) {
//   .author-comment{
//       padding-left: 0;
//       padding-bottom: 0;
//       .author-img{
//           width: 20%;
//       }
//       .author{
//           width: 40%;
//           .comment-text{
//               display: block;
//               font-size: 12px;
//               height: 40px;
//               width: 125px;
//               overflow: hidden;
//           }
//       }
//       .date{
//           width: 30%;
//       }
//       .delete-comm{
//           width: 10%;
//       }
//   }
// }