@import '../../../variable';
.clearfix{clear: both;}

.user-avatar{
    position: relative;
    top: 30px;


    .profile-status{
        background: rgba(3, 170, 173, 0.2);
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 3px;
        color: #fff;
        font-size: 14px;
        padding-left: 5px;
        text-align: left;
        padding-bottom: 10px;
        .status-text{
            margin-left: 3px;
            margin-top: 8px;
        }
        .new-status{
            .form-control{
                font-size: 14px;
            }
            .save{
                margin-top: 4px;
                background-color: #5cb85c;
                border-color: #4cae4c;
                font-size: 14px;
            }
            .save:hover{
                background-color: #449d44;
                border-color: #398439;
            }
        }
    }
    .center{
        background: rgba(3, 170, 173, 0.2);
        margin-bottom: 5px;
        text-align: center;
        font-size: 11px;
        color: #fff;
        padding: 5px;
        cursor: pointer;
    }
    .box-group{
        .img-subscribe{
            background: url(/assets/imgs/big_icons.png) no-repeat -431px -110px;
            margin: auto;
            height: 40px;
            width: 32px;
        }
    }
    .box-notes{
        .img-notes{
            background: url(/assets/imgs/big_icons.png) no-repeat -752px -61px;
            margin: auto;
            height: 40px;
            width: 37px;
        }
    }
    .box-video{
        .img-video{
            background: url(/assets/imgs/big_icons.png) no-repeat -537px -112px;
            margin: auto;
            height: 40px;
            width: 38px;
        }
    }
    .user-friend, .online-friend{
        .user-quantity, .user-quantity-online{
            background: rgba(0, 0, 0, 0.3);
            padding: 8px;
            .friends{
                display: inline-block;
                p{
                    color: #fff;
                    margin-bottom: 0;
                    font-size: 13px;
                }
            }
            .see-all{
                display: block;
                float: right;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .friend-img{
            background: rgba(3, 170, 173, 0.2);
            padding: 8px;
            position: relative;
            .friend-ava{
                border-radius: 4px;
                margin: 4px 3px;
                cursor: pointer;
            }
            .friends-item:hover{
                .hover-popup, .to-bottom{
                    display: block;
                }
            }
            .friends-item{
                display: inline-block;
            }
            .hover-popup{
                position: absolute;
                background: #fff;
                padding: 4px;
                bottom: 80px;
                left: 0;
                display: none;
                .popup-img{
                    width: 100px;
                    border-radius: 4px;
                }
                .center-text{
                    text-align: center;
                }
                h5{
                    color: #828995;
                    font-size: 12px;
                    margin-bottom: 2px;
                }
                h4{
                    color: #4A5F46;
                    font-size: 12px;
                    margin-bottom: 0;
                }
                .age{
                    font-size: 12px;
                }
            }
            .to-bottom{
                background: url(/assets/imgs/bottoms.png) no-repeat;
                position: absolute;
                top: -6px;
                left: 10px;
                width: 24px;
                height: 10px;
                display: none;
            }
        }
    }
}