<app-home-menu></app-home-menu>
<div class="container">
  <div class="row">
    <div class="right-block col-md-3">
      <app-profile-image></app-profile-image>
      <!-- <div class="user-avatar">
        <div class="profile-status">
          <ng-template [ngIf]="status">
            <div (click)="openInputWrite()" class="status-text">
              {{user.user_status || 'profile.statusPlaceholder' | translate}}
            </div>
          </ng-template>
          <ng-template [ngIf]="newStatus">
            <div class="new-status">
              <textarea class="form-control" [(ngModel)]="user.user_status" placeholder="Enter the text of your status" rows="2"></textarea>
              <button type="button" class="btn btn-success save" (click)="postStatus()">{{'save' | translate}}</button>
            </div>
          </ng-template>
        </div>
        <div routerLink="/groups" class="box-group center">
          <div class="img-subscribe"></div>
          {{'profile.groupText' | translate}}
        </div>
        <div routerLink="/notes" class="box-notes center">
          <div class="img-notes"></div>
          {{'profile.notesText' | translate}}
        </div>
        <div routerLink="/profile/videos" class="box-video center">
          <div class="img-video"></div>
          {{'profile.videosText' | translate}}
        </div>
        <app-friends-sidebar-block [userId]="user.id"></app-friends-sidebar-block>
      </div> -->
    </div>
    <div class="left-block col-md-9">
      <app-header></app-header>
      <app-glob-tabs></app-glob-tabs>
      <app-wall *ngIf="userProfile" [wallId]="userProfile.id"></app-wall>
    </div>
    <div class="clearfix"></div>
  </div>
</div>