@import '../../../variable';
#map{
  width: 100%;
  height: 300px;
}
.map{
  background: url("../../../assets/imgs/Globstagemap.png") center right no-repeat;
  cursor: pointer;
}
.map-block{
  margin-top: 34px;
  border-bottom: 2px solid rgb(149, 200, 0);
  .map-header{
    background: $color-blue;
    ::ng-deep .mat-tab-label-content{
      i{
        font-size: 26px;
        color: #fff;
      }
    }
    ::ng-deep .mat-tab-label{
      opacity: 1;
    }
  }
}
