@import '../../../variable';
.user-friend, .online-friend{
  .user-quantity, .user-quantity-online{
    background: rgba(0, 0, 0, 0.3);
    padding: 8px;
    .friends{
      display: inline-block;
      p{
        color: #fff;
        margin-bottom: 0;
        font-size: 13px;
      }
    }
    .see-all{
      display: block;
      float: right;
      a{
        text-decoration: none;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .friend-img{
    background: rgba(3, 170, 173, 0.2);
    padding: 8px;
    position: relative;
    .friend-ava{
      margin: 4px 3px;
      cursor: pointer;
    }
    .friends-item:hover{
      .hover-popup, .to-bottom{
        display: block;
        z-index: 9999;
      }
    }
    .friends-item{
      display: inline-block;
    }
    .hover-popup{
      position: absolute;
      background: #fff;
      padding: 4px;
      top: 90px;
      left: 0;
      display: none;
      .popup-img{
        width: 100%;
        border-radius: 4px;
      }
      .center-text{
        text-align: center;
        padding: 0;
      }
      h5{
        color: #828995;
        font-size: 12px;
        margin-bottom: 2px;
      }
      h4{
        color: #4A5F46;
        font-size: 12px;
        margin-bottom: 0;
      }
      .age{
        font-size: 12px;
      }
    }
    // .to-bottom{
    //   background: url(../../../assets/imgs/bottoms.png) no-repeat;
    //   position: absolute;
    //   bottom: 48px;
    //   left: 10px;
    //   width: 24px;
    //   height: 10px;
    //   display: none;
    //   transform: rotate(180deg);
    // }
    .img-width{
      width: 55px;
      height: 55px;
      overflow: hidden;
      .friend-ava{
        width: auto;
        height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .user-friend{
    .see-all{
      display: block;
      float: right;
      a{
        font-size: 14px;
      }
    }
     .friend-img {
       .hover-popup{
         text-align: center;
         .popup-img{
           width: 100%;
         }
         .center-text{
           text-align: center;
           h5{
             font-size: 11px;
             margin-bottom: -7px;
             padding-right: 12px;
           }
           h4{
             display: none;
           }
           .age{
             font-size: 9px;
           }
         }
       }
     }
}
}
@media only screen and (max-width: 767px){

  .user-friend{
    .friend-img {
      .hover-popup{
        .popup-img{
          width: 50px;
        }
        .popup-col{
          width: 50%;
        }
        .center-text{
          width: 40%;
          h5{
            margin-top: 6px;
          }
        }
        .popup-group{
          width: 50%;
        }
        .center-text-group{
          width: 50%;
          padding-left: 0;
        }
      }
    }

  }
}

@media only screen and (max-width: 480px){
  .user-friend{
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px;
  }
}