@import '../../../../../variable';
.clearfix {
  clear: both;
}
.audio {
  position: relative;
  padding: 4px 15px;
  margin: 2px 0;
  background: #049097;
  span {
    color: white;
  }
   audio{
      width: 100%;
    }
    .removeAudio{
      text-align: right;
      .delete-audio{
        cursor: pointer;
        position: absolute;
        z-index: 9999;
        top: 6px;
        right: 8px;
      }
  }
}
