@import '../../../variable';
.animation {
  position: absolute;
  width: 1200px;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  bottom: 0px;
  left: 50%;
  margin-left: -600px;
}
.element1{
  position: absolute;
  right: 143px;
  bottom: -300px;
  z-index: 3;
  animation-duration: 0.5s;
}
.element2{
  position: absolute;
  left: 350px;
  bottom: -40px;
  z-index: 2;
  animation-duration: 1.6s;
}
.element3{
  position: absolute;
  left: 243px;
  bottom: 227px;
  z-index: 2;
  animation-duration: 0.6s;
}
.element4{
  position: absolute;
  left: 78px;
  bottom: 80px;
  z-index: 2;
  animation-duration: 1.2s;
}
.element5{
  position: absolute;
  bottom: 80px;
  left: 533px;
  z-index: 2;
  animation-duration: 1.4s;
}
.element6{
  position: absolute;
  bottom: 201px;
  right: 277px;
  z-index: 2;
  animation-duration: 0.8s;
}
.element7{
  position: absolute;
  right: 82px;
  bottom: 164px;
  z-index: 2;
  animation-duration: 0.4s;
}
.element8{
  position: absolute;
  left: 60px;
  bottom: 180px;
  z-index: 2;
  animation-duration: 0.2s;
}
.element9{
  position: absolute;
  bottom: 144px;
  right: 463px;
  z-index: 2;
  animation-duration: 1s;
}
.element10{
  position: absolute;
  bottom: -70px;
  left: 57px;
  z-index: 1;
  animation-duration: 1.8s;
}
.quote1element{
  position: absolute;
  bottom: 246px;
  right: 213px;
  z-index: 2;
  animation-duration: 1s;
  animation-delay: 1.6s;
}
.quote2element{
  position: absolute;
  bottom: 205px;
  left: 22px;
  z-index: 2;
  animation-duration: 1s;
  animation-delay: 1.8s;
}
.animate-login{
    text-align: center;
    position: absolute;
    width: 1200px;
    top: 50%;
    margin-top: -243px;
    left: 50%;
    margin-left: -600px;
    animation-duration: 1s;
    animation-delay: 0.4s;
    h1{
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        font-weight: 300;
       }
    span{
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        font-weight: 300;
        color: #fff;
        width: 150px;
        border-top: 1px solid #95c800;
        display: block;
        margin: auto;
        margin-top: 38px;
       }
       .buttons{
           margin-top: 10px;
           .btn{
            background: #95c800;
            padding: 13px 34px;
            border-radius: 3px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #ffffff;
            margin: 0 13px;
            margin-bottom: 1px;
           }
           .btn:hover{
               background: #fff;
               color: #95c800;
               transition: 0.3s;
           }
           .btn-default{
            background: none;
            padding: 13px 35px;
            border-radius: 3px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            color: #ffffff;
            border: 2px solid;
            margin: 0 15px;
            cursor: pointer;
           }
           .btn-default:hover{
               color: #95c800;
               transition: 0.3s;
           }
       }
}
.form-error{
    color: #e81000;
    font-size: 15px;
    margin-bottom: 0;
    text-align: left;
    margin-left: 30px;
}
.login-panel{
    height: 100vh;
    background: rgba(0, 0, 0, 0.83);
    width: 100%;
    position: fixed;
    z-index: 999;
    .login-form{
        width: 300px;
        background: #ffffff;
        border-radius: 4px;
        margin: 0 auto;
        top: 54%;
        position: relative;
        height: 425px;
        margin-top: -265px;
        .icon-close{
            position: absolute;
            right: -20px;
            color: #fff;
            top: -30px;
            font-size: 20px;
            cursor: pointer;
            font-weight: bold;
        }
        .icon-close:hover{
            color: #E51616;
        }
        h3{
            font-size: 24px;
            padding: 20px 0;
            font-weight: 200;
            text-align: center;
            padding-bottom: 2px;
            margin-bottom: 2px;
            .solid{
                display: block;
                width: 60px;
                height: 1px;
                background: #95C800;
                margin: 20px auto;
            }
        }
        .forms{
            text-align: center;
          p.forgot-text{
            font-size: 12px;
            color: #398439;
            cursor: pointer;
            padding-right: 30px;
          }
        }
    }
        .input-span{
            display: block;
            text-align: left;
            padding-left: 30px;
            padding-bottom: 10px;
            font-size: 11px;
            font-weight: bold;
        }
        .input-text{
            height: 40px;
            width: 80%;
            border-radius: 3px;
            border: 1px solid #dddddd;
            margin-bottom: 20px;
            background: #f9f9f9;
            font-size: 16px;
            font-weight: 300;
            color: #95C800;
            padding: 0 15px;
            font-weight: 200;
        }
        .margin{
            margin-bottom: 8px;
        }
         .input-text:focus{
            outline: none;
            border: 1px solid #7CCB18;
            background: #ffffff;
        }
        .check-box{
            margin: 0 0 0 30px;
        }
        .remember-me{
            font-size: 11px;
            text-transform: uppercase;
            margin: 0 0px 20px 0px;
            font-weight: bold;
        }
        a{
            color: #95C800;
            text-decoration: none;
            font-size: 14px;
        }
        a:hover{
            color: #333;
        }
        .login{
            width: 80%;
            margin: 0 30px;
            background-color: #5cb85c;
            border-color: #4cae4c;
            font-size: 14px;
            padding: 10px;
        }
        .login:hover{
            background-color: #449d44;
            border-color: #398439;
        }
        .error{
            color: #e81000;
            display: block;
            text-align: center;
            padding-bottom: 6px;
        }
}
.register-panel{
    height: 100vh;
    background: rgba(0, 0, 0, 0.83);
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 999;
    .register-form{
        width: 300px;
        background: #ffffff;
        border-radius: 4px;
        margin: 0 auto;
        top: 54%;
        position: relative;
        height: 505px;
        margin-top: -265px;
        .icon-close{
            position: absolute;
            right: -20px;
            color: #fff;
            top: -30px;
            font-size: 20px;
            cursor: pointer;
            font-weight: bold;
        }
        .icon-close:hover{
            color: #E51616;
        }
        h3{
            font-size: 24px;
            padding: 20px 0;
            font-weight: 200;
            padding-bottom: 2px;
            margin-bottom: 2px;
            .solid{
                display: block;
                width: 60px;
                height: 1px;
                background: #95C800;
                margin: 20px auto;
            }
        }
        input{
            height: 40px;
            width: 80%;
            border-radius: 3px;
            border: 1px solid #dddddd;
            margin-bottom: 20px;
            padding-left: 10px;
            background: #f9f9f9;
            font-size: 16px;
            color: #95C800;
            font-weight: 300;
            outline: none;
        }
        .margin{
            margin-bottom: 8px;
        }
        input:focus{
            border: 1px solid #7CCB18;
            background: #ffffff;
        }
        .register{
            width: 80%;
            margin: 0 30px;
            background-color: #5cb85c;
            border-color: #4cae4c;
            font-size: 14px;
            padding: 10px;
            margin-top: 10px;
        }
        .register:hover{
            background-color: #449d44;
            border-color: #398439;
        }
        .error-reg{
            color: #e81000;
            display: block;
            text-align: center;
            padding-bottom: 6px;
            padding-top: 10px;
        }
    }

}
@media only screen and (max-width: 767px) {
    .animation {
        margin-left: -700px;
    }
    .animate-login {
        h1{
            font-size: 36px;
        }
    }
  }
  @media only screen and (max-width: 480px) {
    .animation {
        margin-left: -930px;
    }
    .login-panel{
        .login-form{
            width: 270px;
            height: 366px;
        }
    }
    .register-panel{
        .register-form{
            width: 270px;
            height: 475px;
        }
    }
    .animate-login{
        .buttons{
            .btn{
                padding: 8px 26px;
                font-size: 15px;
            }
            .btn-default{
                padding: 8px 18px;
            }
        }
    }
  }

  @media only screen and (max-width: 375px) {
    .animation {
        margin-left: -150px;
    }
    .register-panel{
        .register-form{
            width: 250px;
            height: 465px;
        }
        .register{
            margin: auto;
            margin-top: 8px;

        }
    }
    .animate-login {
        h1{
            font-size: 36px;
        }
        span{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .buttons{
            .btn{
                padding: 6px 22px;
                font-size: 15px;
            }
            .btn-default{
                padding: 5px 18px;
            }
        }
    }
  }