<app-home-menu></app-home-menu>
<div class="container">
  <div class="row" *ngIf="!userBlocked">
    <div class="col-md-3">
      <app-user-profile-image *ngIf="user" [user]="user"></app-user-profile-image>
    </div>
    <div class="col-md-9">
      <app-header></app-header>
      <app-user-glob-tabs *ngIf="user" [user]="user"></app-user-glob-tabs>
      <app-wall *ngIf="user" [wallId]="user.id"></app-wall>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="row" *ngIf="userBlocked">
    <div class="col-md-9">
      <app-header></app-header>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 blocked">
      <h2><i class="fa fa-lock" aria-hidden="true"></i>This user has blocked you!</h2>
    </div>
    </div>
</div>
