<app-home-menu></app-home-menu>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-profile-image></app-profile-image>
    </div>
    <div class="col-md-9">
      <app-header></app-header>
      <div class="messages">
        <div class="col-md-12">
          <div class="row">
            <div class="chat-list col-md-4">
              sdfghsdf
            </div>
            <div class="message-list col-md-7">
              adfsdf
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
