<app-home-menu></app-home-menu>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-profile-image *ngIf="isMyAlbum"></app-profile-image>
      <app-user-profile-image [user]="albumUser" *ngIf="!isMyAlbum"></app-user-profile-image>
      <div class="create-group">
        <span *ngIf="isMyAlbum" (click)="openDialogAlbum()" class="create">Create album</span>
      </div>
      <div class="all-album">
        <span routerLink="/profile/albums" class="create">All album</span>
      </div>
      <!-- <div class="user-avatar">
        <div routerLink="/groups" class="box-group center">
          <div class="img-subscribe"></div>
          {{'profile.groupText' | translate}}
        </div>
        <div routerLink="/profile/videos" class="box-video center">
          <div class="img-video"></div>
          {{'profile.videosText' | translate}}
        </div>
      </div> -->
    </div>
    <div class="col-md-9">
      <app-header></app-header>
      <div class="groups">
        <div class="search-group col-md-12">
          <div class="row">
            <div class="col-md-11">
              <h2 class="group-title">{{album?.name}}</h2>
            </div>
            <div class="upload-btn col-md-1" *ngIf="isMyAlbum">
              <img style="cursor: pointer" (click)="openDialogAttach()" src="./assets/imgs/Images_no_albums.png" alt="Images_no_albums.png">
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="album-photo col-md-3" *ngFor="let img of album?.attachmentwithcomments">
              <i class="delete fa fa-trash" aria-hidden="true" *ngIf="isMyAlbum" (click)="delete(img.id)"></i>
              <img [src]="img.path" alt="no-avatar">
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>