@import '../../../variable';
.clearfix{clear: both;}
ul{
  padding: 0;
}
li{
  list-style: none;
}
.album-photo{
  padding: 0 4px;
  .delete{
    position: absolute;
    color: #c9302c;
    cursor: pointer;
    right: 18px;
    top: 6px;
    z-index: 999;
    font-size: 24px;
    background: aliceblue;
    padding: 4px;
    border-radius: 3px;
    display: none;
  }
  img{
    margin-bottom: 6px;
    cursor: pointer;
    width: 100%;
    height: 160px;
  }
}
.album-photo:hover{
  .delete{
    display: block;
  }
}
::ng-deep .cdk-overlay-container{
  left: -20px;
  top: 45px;
}
::ng-deep .ng-star-inserted{
  .menu-btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-top: 7px;
    margin-left: 20px;
    outline: none;
    position: fixed;
    cursor: pointer;
    color: $color-green;
    border: none;
    transition: 0.3s;
  }
  .menu-btn:hover{
    background: $color-green;
    color: #fff;
    transition: 0.3s;
  }
  button.mat-menu-item{
    width: 260px;
    padding-left: 6px;
    color: $color-blue;
    outline: none;
    .mat-icon{
      color: $color-blue;
    }
  }
  button.mat-menu-item:hover{
    background: rgb(5, 23, 43);
  }
}
::ng-deep .mat-menu-panel{
  background: rgb(7, 40, 65);
}
.user-avatar-menu{
  padding-bottom: 20px;
  .user-img{
    width: 110px;
    margin: auto;
    padding-top: 20px;
    img{
      width: 110px;
      height: 110px;
      border-radius: 100%;
      border: 2px solid #03AAAC;
    }
  }
  .user-name{
    font-size: 20px;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    display: block;
    padding: 10px 0;
  }
  a:hover{
    text-decoration: none;
    transition: 0.3s;
    color: $color-blue;
  }
  .exit{
    display: block;
    margin: auto;
    width: 100px;
    border: 2px solid #FFFFFF;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    color: #FFFFFF;
    background: none;
  }
}
.all-album{
  margin-top: 10px !important;
}
.create-group, .all-album{
  background: $color-blue;
  margin-top: 30px;
  span{
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 15px;
    display: block;
    transition: 0.3s;
  }
  span:hover{
    color: $color-green;
    background: rgba(0, 0, 0, 0.35);
    transition: 0.3s;
  }
}
.subscribe{
  margin-top: 15px;
}
.groups{
  padding: 20px;
  background: #fff;
  margin: 20px 0;
  h2 {
    color: $color-blue;
    font-size: 26px;
    text-align: center;
  }
}
.upload-btn{
  text-align: right;
  padding-bottom: 15px;
  button{
    font-size: 14px;
    background: #95c800;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #fff;
    height: 28px;
    transition: 0.3s;
    i{
      color: #fff;
      padding-left: 4px;
    }
  }
  button:hover{
    opacity: 0.8;
    transition: 0.3s;
  }
}
.user-avatar{
  position: relative;
  top: 30px;
  .box-group{
    .img-subscribe{
        background: url(/assets/imgs/big_icons.png) no-repeat -431px -110px;
        margin: auto;
        height: 40px;
        width: 32px;
    }
}
.box-video{
    .img-video{
        background: url(/assets/imgs/big_icons.png) no-repeat -537px -112px;
        margin: auto;
        height: 40px;
        width: 38px;
    }
}
.center{
  background: rgba(3, 170, 173, 0.2);
  margin-bottom: 5px;
  text-align: center;
  font-size: 11px;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
}

@media only screen and (max-width: 1200px) {

  .upload-btn{
    padding-left: 0;
      img{
        width: 50px;
      }
  }
}

@media only screen and (max-width: 700px) {

  .upload-btn{
      img{
        width: 50px;
      }
  }
  .album-photo{
    width: 50%;
  }
  

}
@media only screen and (max-width: 414px) {

  .album-photo{
    width: 100%;
  }
  

}

