#ng-chat
{
    position:fixed;
    z-index:9999;
    right:0;
    bottom:50px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: initial;
    font-size: 11pt;
    text-align: left;
}
.ng-chat-loading-wrapper
{
    height: 30px;
    text-align: center;
    font-size:0.9em;
}
#ng-chat-people
{
    position: relative;
    width: 240px;
    height:360px;
    border: 1px solid #fff;
    margin-right: 0;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
    border-bottom:0;
}
    #ng-chat-people.ng-chat-people-collapsed
    {
        height:30px;
        margin-right: 0;
    }
.ng-chat-close
{
    color: #fff;
    text-decoration:none;
    float:right;
}
.ng-chat-title, .ng-chat-title:hover
{
    position: relative;
    z-index:2;
    height:30px;
    line-height: 30px;
    font-size:0.9em;
    padding: 0 10px;
    background-color: rgba(5, 119, 121, 0.8);
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    cursor: pointer;
    /* background-color:#FFF; */
}
.ng-chat-title.shadowed
{
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
    .ng-chat-title > strong{
        font-weight: 600;
        display: block;
        overflow: hidden;
        height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 85%;
        float:left;
    }
    .ng-chat-title > .ng-chat-user-status
    {
        float: left;
        margin-left: 5px;
    }
#ng-chat-search_friend
{
    display: block;
    padding: 7px 10px;
    margin: 0 auto;
    width: calc(100% - 20px);
    margin-top: 10px;
    font-size: 0.9em;
    -webkit-appearance: searchfield;
}
#ng-chat-users
{
    padding: 0 10px;
    list-style: none;
    margin: 0;
    overflow: auto;
    position: absolute;
    top: 84px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}
    #ng-chat-users li
    {
        clear: both;
        margin-bottom: 10px;
        overflow: hidden;
        cursor: pointer;
        max-height: 30px;
    }
        #ng-chat-users li > img, #ng-chat-users li > .icon-wrapper
        {
            float: left;
            margin-right: 5px;
            border-radius: 25px;
        }
        #ng-chat-users li > .icon-wrapper
        {
            background-color: #BABABA;
            overflow: hidden;
            width: 30px;
            height: 30px;
        }
            #ng-chat-users li > .icon-wrapper > i
            {
                color: #FFF;
                transform: scale(0.7);
            }
        #ng-chat-users li > strong
        {
            float: left;
            line-height: 30px;
            font-size: 0.8em;
            max-width: 57%;
            max-height: 30px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        #ng-chat-users li > .ng-chat-user-status
        {
            float: right;
        }
.ng-chat-user-status
{
    border-radius: 25px;
    width: 8px;
    height: 8px;
    margin-top:10px;
}
.ng-chat-user-status.online
{
    background-color: #95c800;
}
.ng-chat-user-status.busy
{
    background-color: #F91C1E;
}
.ng-chat-user-status.away
{
    background-color: #F7D21B;
}
.ng-chat-user-status.offline
{
    background-color: #BABABA;
}
.ng-chat-unread-messages-count
{
    background-color: #E3E3E3;
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 25px;
    font-size: 0.9em;
    color: #5C5C5C;
    line-height: 30px;
}
.ng-chat-window
{
    right:260px;
    height:360px;
    z-index:999;
    bottom:50px;
    position: fixed;
    width:300px;
    border:1px solid #fff;
    border-bottom:0;
    box-shadow: 0 4px 8px rgba(0,0,0,.25);
}
.ng-chat-window-collapsed
{
    height: 30px !important;
}
    .ng-chat-window > input
    {
        font-size:0.8em;
        box-sizing: border-box;
        padding:0 5px;
        display:block;
        height: calc(10%);
        width:100%;
        border: none;
        border-top: 1px solid #A3A3A3;
        outline: none;
    }
    .ng-chat-window .ng-chat-messages
    {
        padding: 10px;
        height: calc(90% - 67px);
        box-sizing: border-box;
        position: relative;
        overflow: auto;
        background-color: #FFF;
    }
        .ng-chat-window .ng-chat-messages .ng-chat-message
        {
            clear: both;
        }
        .ng-chat-window .ng-chat-messages .ng-chat-message > img, .ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper
        {
            position: absolute;
            left: 10px;
            border-radius: 25px;
        }
            .ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper
            {
                background-color: #BABABA;
                overflow: hidden;
                width: 30px;
                height: 30px;
            }
                .ng-chat-window .ng-chat-messages .ng-chat-message > .icon-wrapper > i
                {
                    color: #FFF;
                    transform: scale(0.7);
                }
        .ng-chat-window .ng-chat-messages .ng-chat-message > span
        {
            float: right;
            width: 65%;
            padding: 0;
            margin-top: 0;
            background-color:rgba(5, 119, 121, 0.8);
            border-radius: 5px;
            padding: 10px;
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 0.9em;
            word-wrap: break-word;
        }
        .ng-chat-window .ng-chat-messages .ng-chat-message.ng-chat-message-received > span
        {
            float: left;
            margin-left: 40px;
            padding-top: 7px;
            padding-bottom: 7px;
            background-color:#FFF;
            border: 1px solid rgba(5, 119, 121, 0.8);
            margin-top: 0;
            margin-bottom: 5px;
            color: #000;
        }
        .attach-files{
            background: rgba(5, 119, 121, 0.8);
        }
        .attach-files ul{
            padding: 10px 0;
            padding-left: 8px;}
        .attach-files ul li{
            list-style: none;
            display: inline-block;
            padding-right: 15px;
        }
        .attach-files ul li i{
            font-size: 18px;
            cursor: pointer;
        }
        .send-btn .send{
            outline: none;
            background: #95c800;
            font-size: 12px;
            height: 30px;
            width: 60px;
            box-shadow: none;
            border: none;
            margin-top: 4px;
        }
        .post_attachs .post_attach{
          width: auto;
          height: 70px;
          margin: 10px 0;
          cursor: pointer;
        }
        .ng-star-inserted .post_attach{
          float: right;
        }
        .ng-chat-message-received .post_attach{
          float: left;
          margin-left: 30px;
        }
        
        @media only screen and (max-width: 767px){
            .attach-files .smiles{
                width: 70%;
            }
            .attach-files .send-btn{
                width: 30%;
            }
            #ng-chat{
                bottom: 50px;
            }
            .ng-chat-window{
                bottom: 50px;
            }
        }
        @media only screen and (max-width: 582px) {
            .ng-chat-window{
                right: 0;
            }
        }
        @media only screen and (max-width: 347px) {
            #ng-chat-people{
                width: 220px;
                bottom: 0;
            }
        }