<article class="post-article" *ngIf="(post.user || post.posttype == 'googlenews') && post.hide_from_wall">
  <div class="col-md-12 wall-user">
      <!-- (click)="deleteWallPost(post)" -->
    <i (click)="openDialogDelete()" *ngIf="post.post_user_id == user.id || post.post_wall_id == user.id" class="delete-post fa fa-times"
      aria-hidden="true"></i>
    <div class="row">
      <div class="col-md-1 user-images">
        <div class="wall-avatar">
          <a>
            <img [routerLink]="['/user-profile/' + post.user.username]" *ngIf="post.posttype !== 'googlenews'" [src]="post.user?.user_photo || './assets/imgs/no_ava_50.png'" alt="no_ava_50">
            <img *ngIf="post.posttype == 'googlenews'" [src]="post.user?.user_photo || './assets/imgs/googlenews.png'" alt="googlenews">
          </a>
        </div>
      </div>
      <div class="col-md-11 wall-name">
        <p *ngIf="post.user?.user_name !== null && post.posttype != 'googlenews'"><a [routerLink]="['/user-profile/' + post.user.username]">{{post.user.user_name + ' ' + post.user.user_last_name}}</a></p>
        <p *ngIf="post.posttype == 'googlenews'">Google News</p>
        <div class="date">
          {{post.post_created_date | date : "dd MMM yyyy"}}
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="wall-content col-md-12">
        <div class="wall-atach-photo">
          <img class="news-img" *ngIf="post.posttype == 'googlenews' && post.attachments && post.attachments[0].path !== null" [src]="post.attachments[0].path" alt="post.attachments[0].path">
          <h6 *ngIf="post.user && post.posttype == 'groupinvitation'">{{ post.user.user_name + ' '+ post.user.user_last_nam
            }} invite you to join to the group
            <a routerLink="/group/{{post.post_group_id}}">{{post.post_content}}</a></h6>
          <h6 *ngIf="post.posttype !== 'groupinvitation' && post.posttype !== 'audio' && post.posttype !=='avatar'" [innerHTML]=" post.post_content || '' | postemojify:true "></h6>
          <button class="share-post" (click)="repost(post)" mat-button 
           *ngIf="post.posttype == 'googlenews'">
           <i class="shared fa fa-share" aria-hidden="true"></i>Share</button>
          <div *ngIf="post.posttype == 'audio'" class="audio">
            <h6 *ngIf="post.user?.user_name !== null">{{post.user.user_name + ' ' + post.user.user_last_name}} added a new
              audio
            </h6>
            <audio controls="controls">
              <source [src]="post.post_link" />
            </audio>
            <button matTooltip="Add to my music" class="audio-add" (click)="addAudio(post)" mat-button 
           *ngIf="post.posttype == 'audio' && post.user.id != user.id">+</button>
            <div class="clearfix"></div>
          </div>
          <div *ngIf="post.posttype == 'vote'" class="poll">
            <div class="col-md-12">
              <div class="row">
                <div class="wall-poll">
                  <h4 class="name">{{ post.post_poll_title }}</h4>
                  <div *ngFor="let question of post.questions">
                    <p (click)="selectQuest(question.id)" class="title2">{{ question.title }}</p>
                    <span>{{ 100 * question.vote_count / allVotes | number:0 }} %</span>
                    <div [ngStyle]="{'background': 'linear-gradient(90deg, #35bbbd ' + question.percent + '%, #fff 0%)'}" class="count-vote">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="post.posttype == 'avatar'" class="avatar">
            <div class="col-md-12">
              <div class="row">
                <div class="wall-avatar-img">
                  <h4 class="name">{{post.user.user_name + ' ' + post.user.user_last_name}} changed avatar</h4>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="post.posttype == 'album'" class="album">
            <div class="col-md-12">
              <div class="row">
                <div class="wall-album">
                  <h4 class="name">{{post.user.user_name + ' ' + post.user.user_last_name}} created 
                    <a routerLink="/album/{{post.id}}">{{ post.post_title }}</a> album</h4>
                  <span></span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="post.posttype == 'video'" class="video">
            <h6 *ngIf="post.user?.user_name !== null && post.post_content == ''">{{post.user.user_name + ' ' + post.user.user_last_name}} added a new
              video
            </h6>
            <app-video-player [video]="post"></app-video-player>
            <div class="clearfix"></div>
          </div>
          <app-attachments [post]="post"></app-attachments>
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="wall-attach-video col-md-6" *ngFor="let video of post.videos">
              <p class="name">{{ video.video_name }}</p>
              <app-video-player [video]="video"></app-video-player>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div *ngIf="post.posttype !== 'googlenews'" class="like-dislike col-md-12">
        <i (click)="addLike()" class="like fa fa-thumbs-up" aria-hidden="true">
          <span>{{ post.post_like_count }}</span>
          <div *ngIf="post.post_like_count != 0" class="like-count">
            <div class="like-abs" *ngFor="let like of post.likes_dislikes">
              <h5 *ngIf="like.status === 'like'">{{ like.user?.user_name + " " + like.user?.user_last_name }}</h5>
            </div>
          </div>
        </i>
        <button class="share-post" (click)="repost(post)" mat-button 
        *ngIf="(post.posttype == 'googlenews' || post.posttype == 'post' || post.posttype == 'video') && post.user.id != user.id">
        <i class="shared fa fa-share" aria-hidden="true"></i>Share</button>
        <i (click)="disLike()" class="dislike fa fa-thumbs-down" aria-hidden="true">
          <span>{{post.post_dislike_count || 0}}</span>
          <div *ngIf="post.post_dislike_count != 0" class="dislike-count">
            <div *ngFor="let dislike of post.likes_dislikes" class="dislike-abs">
              <h5 *ngIf="dislike.status === 'dislike'">{{ dislike.user?.user_name + " " + dislike.user?.user_last_name }}</h5>
            </div>
          </div>
        </i>
      </div>
      <div class="clearfix"></div>
      <app-comments class="col-md-12" [post]="post"></app-comments>
      <div class="clearfix"></div>
    </div>
  </div>
</article>