<div class="forgot-password">
  <h5>Send your email</h5>
  <form class="example-form" [formGroup]="newPassword" (ngSubmit)="changePassword(newPassword)">
  <mat-form-field class="example-full-width">
    <input type="email" email="true" matInput placeholder="Your Email" formControlName="user_email" required>
  </mat-form-field>
  <div class="send-email">
      <p class="error" *ngIf="errorLogin">Error email</p>
      <p class="send-e" *ngIf="showField">Check your email addres</p>
    <button type="submit" class="send btn btn-default">Send</button>
  </div>
</form>
</div>