<div class="attach-styling col-md-12">
  <div class="row">
    <div class="post_attachs col-md-6" *ngFor="let attach of post.attactments">
      <img *ngIf="imageAttaches && imageAttaches.length == 1" class="post_attach " [src]="attach.path" alt="">
      <a target="_blank" [href]="attach.path"><img *ngIf="attach.type=='pdf'"
      class="post_attach doc-hover" src="./assets/imgs/pdf_icon_svg_by_qubodup-d9n1mhy.png" alt=""></a>
      <a target="_blank" [href]="attach.path"><img *ngIf="attach.type=='doc'"
      class="post_attach doc-hover" src="./assets/imgs/2000px-MS_word_DOC_icon.svg.png" alt=""></a>
    </div>
    <ngx-gallery *ngIf="imageAttaches?.length > 1" [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
    <div class="clearfix"></div>
  </div>
</div>
