<div class="create-audio">
    <p class="center-p">{{'newModal.addSong' | translate}}</p>
        <div class="song-load">
          <form class="example-form" [formGroup]="audioForm">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="audioInsertName" placeholder="Audio name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput formControlName="audioInsertLink" placeholder="Insert a link to an mp3 file or upload using box below.">
            </mat-form-field>
            <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="thumb-wrapper" *ngFor="let url of urls; let i = index">
                      <mat-icon (click)="removeFromUploads(i)">close</mat-icon>
                    </div>
                    <div class="chooser-wrapper">
                      <span>{{'uploader.uploader_text' | translate}}</span>
                      <input  class="chooser" (change)="displaySelected($event)" type="file" />
                    </div>
                    <div style="text-align: left">
                      <button style="margin-top: 6px" type="button" class="btn btn-success btn-s"
                              (click)="uploadAll()" [hidden]="!filesToUpload.length">
                        <mat-spinner *ngIf="uploading"></mat-spinner>
                        {{'upload' | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </form>
        </div>
        <div class="create-btn">
          <button (click)="addAudio(audioForm)" type="button" class="done btn btn-default">{{'newModal.done' | translate}}</button>
          <button (click)="onNoClick()" type="button" class="cancel btn btn-default">{{'newModal.cancel' | translate}}</button>
        </div>
</div>
