@import '../../../variable';
.create-audio{
    width: 350px;
    .center-p{
        color: $color-blue;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0;
    }
    ::ng-deep .mat-tab-label-content{
        color: $color-blue;
    }
    .cdk-overlay-pane{
        width: 400px;
    }
    .example-full-width {
        width: 100%;
      }
      ::ng-deep .mat-form-field-label{
        color: $color-blue;
        font-size: 14px;
    }
    .song-load{
        text-align: left;
        padding-top: 15px;
        .the-link{
            background: $color-blue;
            color: #FFFFFF;
            padding: 4px 6px;
            font-size: 13px;
        }
        .the-link:hover{
            color: #000;
        }
        .from-comp{
            border: 0 none;
            padding: 4px 6px;
            color: #95c800;
            font-size: 13px;
            margin-left: 10px;
        }
        .from-comp:hover{
            background: $color-blue;
            color: #000;
        }
        p{
            font-size: 12px;
            span{
                font-weight: bold;
            }
        }
    }
    .from-comp{
        padding-top: 15px;
        .limit{
            color: $color-blue;
            font-size: 13px;
        }
        ul{
            padding-left: 16px;
            margin-bottom: 0;
            li{
                font-size: 12px;
            }
        }
        .upload-file{
            text-align: center;
            padding: 10px 0;
            .select-file{
                background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
                border: 1px solid #E0E0E0;
                border-radius: 3px;
                color: #3F4752;
                font-size: 11px;
                padding: 4px 15px;
            }
            .select-file:hover{
                background: $color-green;
            }
        }
        p{
            font-size: 12px;
            a{
                color: $color-green;
                text-decoration: none;
            }
            a:hover{
                color: #000;
            }
        }
 
    }
    .create-btn{
        text-align: right;
        padding-top: 10px;
        .done{
            background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            color: #3F4752;
            font-size: 11px;
            padding: 4px 15px;
            margin-right: 10px;
        }
        .done:hover{
            background: $color-green;
        }
        .cancel{
            background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            color: #3F4752;
            font-size: 11px;
            padding: 4px 15px;
        }
        .cancel:hover{
            background: linear-gradient(#FFFFFF, #E9E9E9);
        }
        .mat-dialog-container{
            height: auto;
        }
    }

    .clearfix {
        clear: both;
      }
      
      img {
        max-width: 100%;
      }
      
      .my-drop-zone {
        border: dotted 3px lightgray;
      }
      
      .nv-file-over {
        border: dotted 3px red;
      }
      
      .another-file-over-class {
        border: dotted 3px green;
      }
      
      html, body {
        height: 100%;
      }
      
      ::ng-deep .mat-dialog-container {
        position: relative;
        padding: 15px;
      }
      
      .progress {
        margin-bottom: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
      }
      
      .progress-bar {
        background: $color-blue;
      }
      
      .chooser-wrapper {
        border: 2px solid #1b6d85;
        border-radius: 6px;
        text-align: center;
        color: #1b6d85;
        height: 100px;
        position: relative;
        span{
          display: inline-block;
          margin-top: 30px;
        }
        .chooser {
          width: 100%;
          height: 100%;
          opacity: 0;
          top: 0;
          left: 0;
          position: absolute;
        }
      }
      
      .mat-spinner::ng-deep circle, .mat-progress-spinner::ng-deep circle {
        stroke: #fff !important;
      }
      
      .mat-spinner::ng-deep svg, .mat-progress-spinner::ng-deep svg{
        width: 20px !important; height: 20px !important;
      }
      
      .mat-spinner {
        float:left;
        width: 20px !important;
        height: 20px !important;
        margin: 0px 10px 0px 0px;
      }
      
      .thumb-wrapper{
        width: 80px;
        height: 80px;
        margin: 12px;
        object-fit: cover;
        display: inline-block;
        position: relative;
        overflow: hidden;
        .thumb{
          min-width: 100%;
          min-height: 100%;
        }
        mat-icon{
          color: #c9302c;
          cursor: pointer;
          position: absolute;
          right: 2px;
          top: 2px;
        }
      }
      
      
      
      .upload-btn {
        text-align: right;
        width: 100%;
        margin-top: 10px;
        .ok {
          background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
          border: 1px solid #E0E0E0;
          border-radius: 3px;
          color: #3F4752;
          font-size: 12px;
          padding: 4px 10px;
          margin-right: 4px;
          transition: 0.3s;
        }
        .ok:hover {
          background: $color-green;
          color: #fff;
          transition: 0.3s;
        }
        .cancel {
          background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
          border: 1px solid #E0E0E0;
          border-radius: 3px;
          color: #3F4752;
          font-size: 12px;
          padding: 4px 15px;
          margin-left: 16px;
          display: inline-block;
        }
        .cancel:hover {
          background: linear-gradient(#FFFFFF, #E9E9E9);
        }
      }
}

