<div class="img-album tabs-a">
  <div class="row">
    <div class="col-md-10 upload">
      <p>{{'uplPhotos' | translate}}</p>
      <span (click)="openDialogAlbum()">{{'createAlb' | translate}}</span>
    </div>
    <div class="col-md-2 img-alb">
      <img src="/assets/imgs/Images_no_albums.png" alt="Images_no_albums.png">
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <div class="albums col-md-4" *ngFor="let album of albums" [routerLink]="'/album/'+album.id">
        <img _ngcontent-c26="" [src]="album.attachments[0]?.path || '/assets/imgs/s1200.webp'" alt="s1200.png">
        <mat-icon>close</mat-icon>
        <h3 class="album-title">{{album.post_title}}</h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

