@import '../../../variable';
.clearfix{clear: both;}
ul{
  padding: 0;
}
li{
  list-style: none;
}
.user-avatar{
  position: relative;
  top: 30px;
  .user-img{
    position: relative;
    overflow: hidden;
    .hover-display{
      position: absolute;
      background: rgba(0, 0, 0, 0.71);
      display: block;
      bottom: 0px;
      width: 100%;
      padding: 8px 15px;
      font-size: 24px;
      font-family: roboto;
      font-weight: 300;
      color: #ffffff;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      text-align: center;
      line-height: 28px;
    }
  }
  .img{
    img{
      width: 100%;
      border-radius: 3px;
    }
  }
  .profile-status{
    background: rgba(3, 170, 173, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 3px;
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    padding-bottom: 10px;
￼    .status-text{
      margin-left: 3px;
      margin-top: 8px;
    }
  }
  .center{
    background: rgba(3, 170, 173, 0.2);
    margin-bottom: 5px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding: 5px;
  }
  .user-attr{
    text-align: center;
    margin: 20px 10px;
    button{
      width: 100%;
      margin-bottom: 12px;
      padding: 10px;
      font-size: 14px;
      background-color: #5cb85c;
      border-color: #4cae4c;
      i{
        margin-right: 5px;
      }
    }
    button:hover{
      background-color: #449d44;
      border-color: #398439;
    }
  }
  .box-group{
    .img-subscribe{
        background: url(/assets/imgs/big_icons.png) no-repeat -431px -110px;
        margin: auto;
        height: 40px;
        width: 32px;
    }
}
  .box-video{
    .img-video{
        background: url(/assets/imgs/big_icons.png) no-repeat -537px -112px;
        margin: auto;
        height: 40px;
        width: 38px;
    }
  }

}
@media only screen and (max-width: 768px){
  .user-avatar{
    .user-img{
      max-width: 250px;
      margin: auto;
    }
    .profile-status{
      max-width: 400px;
      margin: 10px auto 0 auto;
    }
    .user-attr{
      max-width: 400px;
      margin: auto;
      margin-top: 10px
    }
  }
}

@media only screen and (max-width: 480px){
  .user-avatar{
    .profile-status{
      max-width: 250px;
      margin: auto;
    }
    .user-attr{
      max-width: 250px;
    }
  }
}
