@import '../../../variable';
.clearfix{clear: both;}
ul{
  padding: 0;
}
li{
  list-style: none;
}
.user-avatar{
  position: relative;
  top: 30px;
  .user-img{
    position: relative;
    overflow: hidden;
    .hover-display{
      position: absolute;
      background: rgba(0, 0, 0, 0.71);
      display: block;
      bottom: 0px;
      width: 100%;
      padding: 8px 15px;
      font-size: 24px;
      font-family: roboto;
      font-weight: 300;
      color: #ffffff;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      text-align: center;
      line-height: 28px;
    }
  }
  .profile-status{
    background: rgba(3, 170, 173, 0.2);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 3px;
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
    text-align: left;
    padding-bottom: 10px;
￼    .status-text{
      margin-left: 3px;
      margin-top: 8px;
    }
  }
  .center{
    background: rgba(3, 170, 173, 0.2);
    margin-bottom: 5px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding: 5px;
  }
  .user-attr{
    text-align: center;
    margin: 20px 10px;
    button{
      width: 100%;
      margin-bottom: 12px;
      padding: 10px;
      font-size: 14px;
      background-color: #5cb85c;
      border-color: #4cae4c;
      i{
        margin-right: 5px;
      }
    }
    button:hover{
      background-color: #449d44;
      border-color: #398439;
    }
  }

}
@media only screen and (max-width: 1200px) {
  .user-avatar{
    .user-img{
      .hover-display{
        font-size: 20px;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .user-avatar{
    .user-img{
      .hover-display{
        font-size: 18px;
        padding: 2px 6px; 
      }
      .img{
        img{
          max-width: 100%;
        }
      }
    }
    .profile-status{
      font-size: 11px;
    }
    .user-attr button{
      font-size: 11px;    }
  }
}
@media only screen and (max-width: 767px) {
  .user-avatar {
    .user-img{
      .img{
        text-align: center;
        img{
          max-width: 100%;
        }
      }
      .hover-display{
        width: 256px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .profile-status{
      text-align: center;
      margin: auto;
      width: 256px;
      margin-top: 10px;
      .status-text{
        margin-top: 10px;
      }
    }
    .user-attr{
      width: 256px;
      margin: auto;
      margin-top: 15px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .img{
    text-align: center;
  }
  .user-avatar {
    text-align: center;
    .user-img{
      display: inline-block;
      ul{
        text-align: left;
      }
    }
    
  }
}