@import '../../../variable';
.mat-dialog-container{
    padding: 20px;
}
.create-album{
   .center-p{
        color: $color-blue;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }
    span{
        display: block;
        color: #4274A4;
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .can{
        p{
            margin-bottom: 0;
            font-size: 13px;
        }
        ::ng-deep .mat-form-field-infix{
            width: 100px;
            margin-left: 10px;
        }
        ::ng-deep .mat-select-value{
            color: $color-blue;
        }
        ::ng-deep .mat-form-field-underline{
            background-color: #fff;
        }
    }
    .create-btn{
        text-align: right;
        padding-top: 10px;
        .done{
            background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            color: #3F4752;
            font-size: 11px;
            padding: 4px 15px;
        }
        .done:hover{
            background: $color-green;
        }
        .cancel{
            background: linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 #FCFCFC;
            border: 1px solid #E0E0E0;
            border-radius: 3px;
            color: #3F4752;
            font-size: 11px;
            padding: 4px 15px;
        }
        .cancel:hover{
            background: linear-gradient(#FFFFFF, #E9E9E9);
        }
        .mat-dialog-container{
            height: auto;
        }
    }
        .example-form {
            min-width: 150px;
            max-width: 500px;
            width: 100%;
        }
        .example-full-width {
        width: 100%;
        }
        ::ng-deep .mat-form-field-label{
          color: $color-blue;
          font-size: 14px;
        }
  .img-alb{
    img{
      width: 130px;
    }
  }
  .music-alb{
    img{
      width: 130px;
    }
  }
  .video-alb{
    img{
      width: 130px;
    }
  }
  .upload{
    text-align: center;
    padding-top: 30px;
    p{
      font-size: 14px;
      color: #777777;
      margin-bottom: 0;
    }
    span{
      color: $color-green;
      font-size: 13px;
      transition: 0.3s;
      cursor: pointer;
    }
    span:hover{
      color: #333;
      transition: 0.3s;
    }
  }

}
